<!DOCTYPE html>

<!--/* Note the xmlns:* here are completely optional and only meant to     */-->
<!--/* avoid IDEs from complaining about tags/attributes they may not know */-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:score="http://thymeleafexamples">
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.21/datatables.min.js"></script>

<head>
    <title>Confirmed Corona Tracker</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.21/datatables.min.css"/>

</head>

<body>
<div  class="jumbotron " style="text-align: center;padding-bottom:10px;">

    <h1 class="display-3">Confirmed Coronavirus Cases<br> Daily Stats</h1>
    <blockquote class="blockquote">
        <i> <p class="mb-0">If the world is going to get better, it's going to be up to you.</p></i>
        <p>Barack Obama, 44th U.S. President </p>
    </blockquote>
    <hr class="my-4">

    <p class="lead">Total Confirmed Count for today is <strong><i><span style="color: orangered" th:text="${dailyCount}"></span></i></strong>.</p>
    <hr class="my-1">
    <br>
    <a style="color: grey;text-decoration: none; padding-right:5px; " href="https://www.linkedin.com/in/sohan-patel" target="_blank"><i class="fab fa-linkedin-in fa-2x"></i></a>
    <a style="color: grey;text-decoration: none;" href="https://www.github.com/s-pat" target="_blank"><i class="fab fa-github fa-2x"></i></a>
</div>

<div class="container" >

    <input class="form-control form-control-lg" id="txtSearch" type="text" name ="keyword" placeholder="Filter by Country or Region">
    <br>
        <table id="coronaTable"  class="table table-hover" style="width: 100%">
        <caption style="text-align: center"><a href="https://github.com/CSSEGISandData/COVID-19" target="_blank" style="color: grey;text-decoration: none;">Data Provided by Johns Hopkins University </a></caption>
        <thead>
            <tr>
            <th>
                Country
            </th>
            <th>Region</th>
            <th>
                Yesterday's Total Cases
            </th>
            <th>Today's Total Cases</th>
            <th>New Cases Reported</th>
        </tr>
        </thead>
        <tbody id="tables">
        <tr th:each="locationStat : ${locationStats}">
            <td th:text="${locationStat.covidCountry}"></td>

            <td th:text="${locationStat.region}"></td>
            <td th:text="${locationStat.yesterdayTotal}"></td>
            <td th:text="${locationStat.latestsTotal}">0</td>
            <td th:text="${locationStat.newCases}">0</td>
        </tr>
        </tbody>
    </table>
    <div class="alert alert-info" role="alert">
        Please stay safe. <a href="https://www.cdc.gov/coronavirus/2019-ncov/index.html"  target="_blank" class="alert-link">Click here for More COVID-19/Corona Related Information</a>.
    </div>
</div>
</body>
<script th:inline="javascript">
    /*<![CDATA[*/
    var states = /*[[${locationStats}]]*/;
    /*]]>*/
    $('#txtSearch').on('keyup', function(){
        var value = $(this) .val();
        console.log('Value: ', value);
        var data = FilteredFunction(value, states);
        rebuildTable(data)
    });
    function FilteredFunction(value, data){
        var filteredData = [];
        for(var i = 0; i <data.length;i++){
            value = value.toLowerCase();
            var stateName = data[i].covidCountry.toLowerCase();
            var regionName = data[i].region.toLowerCase();
            if(stateName.includes(value) || regionName.includes(value)){
                filteredData.push(data[i])
            }

        }
        return filteredData;
    }
    function rebuildTable(data){
        var table = document.getElementById('tables')

        table.innerHTML=' '
        for(var i = 0; i< data.length; i++){
            var row =`

                    <tr>
                     <td>${data[i].covidCountry}</td>
                     <td>${data[i].region}</td>
            <td>${data[i].yesterdayTotal}</td>
            <td>${data[i].latestsTotal}</td>
            <td>${data[i].newCases}</td>

                    </tr>
            `
            table.innerHTML += row


        }
    }


</script>
<script>
    $(document).ready( function () {
        $('#coronaTable').DataTable({
            "paging":   false,
            "info": false,
            "searching": false
        });

    } );
</script>

</html>